/* Place CSS styles here */
html{
    scroll-behavior: smooth;
}
main{
    margin-right: 100px;
    margin-left: 100px;
    padding-bottom: 100px;
}

h1{
    font-size: 48px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
h2{
    font-size: 28px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color:#62119c;
}
h3{
    font-size: 18px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color:#1b1b1b;
}
body{
    color:#1b1b1b;
    font-size: 18px;
    font-family: "Unna", serif;
    font-weight: 400;
    font-style: normal;
}

a{
    color:#1b1b1b;
}
a:hover{
    color:#62119c
}
a:focus-visible {
    border: 3px solid #62119c;
}


.header-hero{
    background-image: url(../img/purple-tiger.jpg);
    background-size: cover;
    background-position: center;
    min-height: 200px;
    margin: 0px;
}
.hero-text{
    color:#ffff;
    text-shadow: 0px 0px 20px #1d0b2b;
    display:flex;
    align-items: center;
    justify-content: center;
}

.intro{
    text-align: center;
}

.all-mikes header{
    text-align: center;
}
.all-mikes article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.polaroid{
    background-color: #62119c;
    border-radius: 15px solid #62119c;
    text-align: center;
    padding-block: 15px;
    max-width: 255px;
    color:#ffff;
    font-size: 18px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.all-mikes img{
    max-width: 225px;
}

footer {
    background-color: #62119c;
    color: #ffff;
    padding: 20px;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
