/* Place CSS styles here */
h1{
    font-size: 48px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
h2{
    font-size: 28px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color:#62119c;
}
h3{
    font-size: 18px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color:#1b1b1b;
}
p{
    color:#1b1b1b;
    font-size: 18px;
    font-family: "Unna", serif;
    font-weight: 400;
    font-style: normal;
}

a{
    color:#1b1b1b;
}
a:hover{
    color:#62119c
}


.header-hero{
    background-image: url(../img/purple-tiger.jpg);
    background-size: cover;
    background-position: center;
    min-height: 200px;
}
.hero-text{
    color:#ffff;
    text-shadow: 0px 0px 20px #1d0b2b;
    display:flex;
    align-items: center;
    justify-content: center;
}
.intro{
    display:flex;
    align-content: center;
}

.all-mikes{
    display:flex;
    align-content: center;
}